*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dress {
    top: 10%;
    left: 15%;
    transform: translate(-50%,50);
    position: absolute;
    .dress-image img{
        height: 160px;
        width: 150px;
        margin-top: 15px;
        cursor: pointer;
        display: block;
        border: 1px;
        opacity: .5;
        &:hover{
            opacity: 1;
        }
    }
 }


.dress-image{
    float: left;
}

.image-box{
    .img{
        max-width: 50%;
        width: 50px;
    }
}
    
